---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';

const morceaux = await getCollection('morceaux');
---

<Layout title="Répertoire">
  <h1>Répertoire</h1>
  <ul class="repertoire">
    {morceaux.map((morceau) => (
      <li>
        <a href={`/morceaux/${morceau.id}`}>{morceau.data.title}</a>
      </li>
    ))}
  </ul>
</Layout>
